.central nav .agendaAtv{
    color: #ffb801;
}

.main-agenda{
    width: 100vw;
    height: 86.6vh;
    background-color: #58462b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    
}

button{
    all: unset;
}

h3{
    color: #ffb801;
    font-size: 2rem;
    font-weight: 100;
}

.ul-comp{
    padding: 2rem;
    gap: 2rem;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    
    
    .li-comp{
        padding: 0.2rem 2rem 1rem;
        text-align: center;
        background-color: #2d2a26;
        border-radius: 30px;
        color: #fff;
        font-size: 1.3rem;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 2px;
        cursor: pointer;

        hr{
            border: none;
            height: 0.9px;
            background-color: #ffb801;
        }

        .data{
            padding: 0rem 4rem;
            background-color: #000;
            color: #ffb801;
            border-radius: 20px;
            font-size: 1.5rem;
            font-weight: 100;
            
}
    }
}

.aba-comp{
    position: fixed;
    border-radius: 30px;
    top: 25vh;
    width: 40vw;
    height: 60vh;
    background-color:#262626;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: #fff solid 1px;

    .info{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        input{
            border: #ffb801 solid 1px !important;
            width: 15vw !important;
            font-size: 1.3rem !important;
            font-weight: 100 !important;
            all: unset;
            border-radius: 20px;
            background-color: #000 !important;
            color: #fff !important;
            
        }

        label{
            color: #ffb801;
            font-size: 0.8rem;
            font-weight: 100;
        }

        textarea{
            all: unset;
            padding-left: 1rem;
            border-radius: 20px;
            background-color: #000 !important;
            border: #ffb801 solid 1px !important;
            color: #fff;
            width: 30vw;
            height: 20vh;
        }

        .inputers{
           
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 1rem;

            .basicoc, .dadosc{
                text-align: center;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1rem;                
            }
            
        }
    }
}

.aba-contrato-compromisso{
    position: fixed;
    border-radius: 30px;
    top: 23vh;
    width: 70vw;
    height: auto;
    background-color:#262626;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: #fff solid 1px;

    

    .contratos-compromisso{
        width: 60vw;
        height: auto;
        border-collapse: collapse;
        thead{
            background-color:#262626;
            th{
                border: #58462b solid 1px;
                text-transform: uppercase;
                letter-spacing: 10px;
                text-align: center;
                font-weight: 400;
                font-size: 1.5rem;
            }
    
        }
        tbody{
            
           background-color: #58462b;
    
            tr{
                height: 4.5vh;
                cursor: pointer;
                td{ 
                    
                    border: 1px solid #ffb801;
                    text-align: center;
                    font-size: 1.3rem;
                    font-weight: 300;
                    color: #fff;
                }
            }
        }

    }
}

.aba-add-compromisso, .aba-edit-comp{
    position: fixed;
    width: 40vw;
    height: 45vh;
    top: 15rem;
    border-radius: 30px;
    border: #000 solid 3px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    form{
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;


        .campos{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 2rem;
            width: 35vw;
        }
        label{
            color: #58462b;
            font-weight: 600;
            text-align: center;
            text-transform: uppercase;
        }
        input, select, textarea{
            all: unset;
            width: 8vw;
            height: 3.5vh;
            text-align: center;
            font-size: 1.3rem;
            color: #ffb801;
            font-weight: 200;
            background-color: #000;
            border-radius: 30px;
            cursor: pointer;
        }           
        textarea{
            padding-left: 1rem;
            width: 35vw;
            height: 20vh;
            text-align: left;
        }
        
    }
}

.aba-edit-comp{
    position: fixed;
    width: 40vw;
    height: 45vh;
    top: 15rem;
    border-radius: 30px;
    border: #ffb801 solid 3px;
    background-color: #262626;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    
}