
.meio{
    color: #ffb801;
    background-color: #555555;
}




    .meio-adv{
    width: 100vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 60px 60px 0px 0px ;
    background-color: #2d2a26;
    color: #fff;

    h3{  width: 100vw;
        padding-top: 0.5rem;
        font-weight: 200;
        text-transform: uppercase
}

form{
    width: 100vw;
    height: 38vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

        button{
            width: auto;
            all: unset;
            font-size: 2.5rem;
            font-weight: 100;
            color: #fff;
     }

     button:hover{
        color: #ffb801;
        font-style: italic;
     }

}

    .dados-adv{

        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2rem;
        justify-content: space-evenly;
        gap: 2rem;
        width: 100vw;
        

        input{
            all: unset;
            color: #000;
            text-align: left;
            padding-left: 1rem;
            background-color: #fff;
            font-size: 1.5rem;
            font-weight: 400;
            height: 30px;
            border-radius:40px;
}

    input::placeholder{
        color: #ffb801 ;
        font-weight: 500;
}

        .basico{
            
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
          

            input{
                width: 30rem;
                
            }

            .numeros-adv{
                width: 31rem;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                gap: 1rem;

                input{
                    width: 10rem;
                    
                }
               
            }

        }

        .endereco{
            
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;

            input{
                width: 30rem;
                
            }
        }

        .numeros{
    
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;

            input{
                width: 20rem;
                
            }
        }
    }
}