.main-contrato{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 86.6vh;


}
.tabela-contrato{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #555;
    padding: 1rem;
}
table{
    width: 80vw;
    height: auto;
    thead{
        background-color:#ffb801;
        th{
            text-transform: uppercase;
            text-align: center;
            font-weight: 400;
            font-size: 1.5rem;
        }

    }
    tbody{
        
       background-color: #fff;

        tr{
            height: 5vh;
            td{ 
                
                border: 0.5px solid #000;
                text-align: center;
                font-size: 1.4rem;
                font-weight: 400;
                color: #000;
            }
        }
    }
}

.info-contrato{
    position: fixed;
    top: 25vh  ;
    background-color: #58462b;
    width: 70vw;
    height: 60vh;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

        h3{
            font-size: 2rem;
            font-weight: 200;
            text-transform: uppercase;
        }
}