.central nav .contratosAtv{
    color: #ffb801;
}

.main-contrato{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 86.6vh;


}
.tabela-contrato{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #555;
    padding: 1rem;
}
table{
    width: 80vw;
    height: auto;
    border-collapse: collapse;
    thead{
        background-color:#ffb801;
        th{
            border: #fff solid 1px;
            text-transform: uppercase;
            text-align: center;
            font-weight: 400;
            font-size: 1.5rem;
        }

    }
    tbody{
        
       background-color: #fff;

        tr{
            height: 5vh;
            td{ 
                
                border: 1px solid #ffb801;
                text-align: center;
                font-size: 1.4rem;
                font-weight: 400;
                color: #000;
            }
        }
    }
}

.botoes{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10rem;

    button{
        all: unset;
        font-size: 2rem;
        font-weight: 200;
        color: #ffb801;
        
    }

    .editar:hover{
        color: #fff;
    }
    .voltar:hover{
        color: #000;
    }
    .excluir:hover{
        color: red;
    }
    .salvar:hover{
        color: green;
    }
}


.aba{
    position: fixed;
    top: 22vh  ;
    background-color: #262626;
    width: 80vw;
    height: 70vh;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;

    .info-contrato{
        width: 75vw;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        
        
    }

        h3{
            font-size: 2rem;
            font-weight: 200;
            text-transform: uppercase;
        }

        input{
            all: unset;
            background-color: #555555;
            color: #ffb801;
            width: 20vw;
            height: 6vh;
            text-align: center;
            border-radius: 10px;
            font-size: 1.8rem;
            font-weight: 400;
        }

        .lista-agenda{
            width:  20vw;
            height: 25vh;
            list-style: none;
            padding: 1rem;
            background-color: #555555;
            border-radius: 10px;
            font-size: 1.2rem;
            h4{
                text-align: center;
                text-transform: uppercase;
                font-size: 1.5rem;
            }
        }
        ul{
                list-style: none;
            li{
                color: #ffb801;
                font-weight: 300;

            }
        }

        .basico{
            width: 21vw;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-evenly;
            gap: 1rem;

            .descricao{
                 width: 20vw;
                height: 25vh;
            }
        }
        .dados{
            width: 21vw;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            
        }
        .listas{
            width: 21vw;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 1rem;

            
        }

        
}

.aba-add{
    position: fixed;
    top: 22vh  ;
    background-color: #58462b;
    width: 50vw;
    height: 50vh;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem;

    form{
        width: 50vw;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;

        input{
            all: unset;
            background-color: #000;
            color: #ffb801 !important;
            width: 15vw;
            height:4vh;
            text-align: center;
            border-radius: 10px;
            font-size: 1.2rem;
            font-weight: 4300;
        }

    }

    .basico{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .tipo-desc{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;

        .descricao{
            width: 30vw;
            height: 26vh;
            text-align:center;
        }
        .tipo{

            input{
                width: 14.5vw;
            }
            display: flex;
            flex-direction: row;
            gap: 1rem;
       }
    }

}