.central nav .contratosAtv{
    color: #ffb801;
}

.main-contrato{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 86.6vh;
    position: relative;
    top: 19vh;
}

.tabela-contrato{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #555;
    padding: 2rem;
}

table{
    width: 80vw;
    height: auto;
    border-collapse: collapse;
    overflow: scroll;


tr:hover:nth-child(1n) {
background-color: #58462b;
color: #fff;
}

    thead{
        background-color:#ffb801;
        th{
            border: #fff solid 1px;
            text-transform: uppercase;
            text-align: center;
            font-weight: 400;
            font-size: 1.5rem;
        }

    }
    tbody{
        
       background-color: #fff;

        tr{
            height: 5vh;
            cursor: pointer;
            td{ 
                
                border: 1px solid #ffb801;
                text-align: center;
                font-size: 1.4rem;
                font-weight: 400;
                color: #000;
            }
        }
    }
}

.botoes{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10rem;

    button{
        all: unset;
        font-size: 2rem;
        font-weight: 200;
        color: #ffb801;
        
    }

    .editar:hover{
        color: #fff;
    }
    .voltar:hover{
        color: #000;
    }
    .excluir:hover{
        color: red;
    }
    .salvar:hover{
        color: green;
    }
}

.aba{
    position: fixed;
    top: 14vh  ;
    background-color: #262626;
    width: 70vw;
    height: 85vh;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
   

    .info-contrato{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5rem;
        justify-content: center;
        
        
    }
.colunas{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    .descricao, textarea{
        all: unset;
        background-color: #555555;
        color: #ffb801;
        border-radius: 10px;
        font-size: 1.5rem;
        padding-left: 1rem;
        width: 30.54vw;
        height: 33vh;
        
}

    .doc{
        padding: 0 2rem 0 2rem;
        font-size: 20px;
        font-weight: 500;
        border-radius: 30px;
        letter-spacing: 10px;
        background-color: #fff;
        color: #555555;
        border: #ffb801 solid 3px;
}


}
    .inputes{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2rem;
    }

        h3{
            font-size: 2rem;
            font-weight: 200;
            text-transform: uppercase;
        }

        label{
            text-align: center;
            text-transform: uppercase;
            font-size: 0.7rem;
            font-weight: 200;
            color: #f5bf6d;
        }

        input{
            all: unset;
            background-color: #555555;
            color: #ffb801;
            width: 15vw;
            height: 4.5vh;
            text-align: center;
            border-radius: 10px;
            font-size: 1.3rem;
            font-weight: 300;
        }

        ul{
            width:  20vw;
            height: 20vh;
            list-style: none;
            padding: 1rem;
            background-color: #555555;
            border-radius: 10px;
            font-size: 1.2rem;
            h4{
                text-align: center;
                text-transform: uppercase;
                font-size: 1.5rem;
            }
                list-style: none;
            li{
                color: #ffb801;
                font-weight: 300;

            }
        }

        .basico, .dados{
            
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: center;

            gap: 1rem;

            
        }
        .listas{
            width: 21vw;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 1rem;

            .red{
                padding-left: 1rem;
                color: red;
            }
            h4{
                text-align: center;
                text-transform: uppercase;
                font-size: 1rem;
                font-weight: 200;
            }
        a{
            all: unset;
            font-size: 1rem;
            text-transform: uppercase;
            font-weight: 500;
        }
        a:hover{
            color: #fff;

        }
            
        }

        
}

.aba-add, .aba-edit{
    position: fixed;
    top: 22vh  ;
    background-color: #58462b;
    width: 50vw;
    height: 50vh;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    
    

    form{
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;


        .form-cont{
        width: 50vw;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        }
        p{
            font-size: 1rem;
            font-weight: 300;
            color: black;
            text-transform: uppercase;
        }

        select, input, textarea{
            all: unset;
            background-color: #000;
            color: #ffb801 !important;
            width: 15vw;
            height:3.5vh;
            text-align: center;
            border-radius: 10px;
            font-size: 1.2rem;
            font-weight: 4300;
        }

    }

    .basico{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .tipo-desc{
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
        align-items: center;

        .descricao{
            display: flex;
            width: 30vw;
            height: 18.7vh;
            text-align:left;
            align-items: center;
        }
        .tipo{

            input{
                width: 14.5vw;
            }
            display: flex;
            flex-direction: row;
            gap: 1rem;
       }
    }

}

.aba-edit{
    
    border: #000 solid 2px;
    background-color: #fff;
    color: #58462b;

    input{
        background-color: #000;
        
    }

}

.addDoc{
    position: fixed;
    top: 35vh  ;
    background-color: #58462b;
    border: #000 solid 3px;
    width: 30vw;
    height: 30vh;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;



    h1{
        color: #ffb801;
        font-weight: 500;
        letter-spacing: 10px;
    }

   

    form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;

         input[type="file"]::file-selector-button {
    all: unset;
    background-color: #ffb801;
    color: #fff !important;
    width: 10vw;
    height:3.5vh;
    text-align: center;
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight: 300;
    
}
        input{
            all: unset;
        
            background-color: #000;
            color: #ffb801 !important;
            width: 10vw;
            height:10vh;
            text-align: center !important;
            border-radius: 10px;
            font-size: 1.2rem;
            font-weight: 4300;

        }
    }
}