
    .meio-edite{
    width: 100vw;
    height: 40vh;
    gap: 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 60px 60px 0px 0px ;
    color: #ffb801;
    background-color: #555555;
    box-shadow: 0px -6px 30px 2px #2d2a26;

    h3{  width: 100vw;
        padding-top: 0.5rem;
        font-weight: 200;
        text-transform: uppercase
}

form{
    width: 100vw;
    height: 38vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

        button{
            all: unset;
            font-size: 2rem;
            font-weight: 100;
            color: #fff;
     }

     button:hover{
        color: #ffb801;
     }

}

    .dados-adv{

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        gap: 2rem;
        width: 100vw;
        

        input{
            all: unset;
            color: #ffb801;
            
            text-align: left;
            padding-left: 1rem;
            background-color: #292626;
            font-size: 1.5rem;
            height: 43px;
            border-radius:40px;
}

             input::placeholder{
                color: #ffb801;
                text-align: left;
                font-weight: 400;
                padding: 2rem;
             }

        .basico{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 2rem;

            input{
                width: 600px;
                
            }

            .numeros{
                width: 616px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 5rem;

                input{
                    width: 300px;
                    
                }
               
            }

        }

        .endereco{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 2rem;

            input{
                width: 600px;
                
            }
        }

        .numeros{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 2rem;

            input{
                width: 400px;
                
            }
        }
    }
}