@import url('https://fonts.googleapis.com/css2?family=Khand:wght@300;400;500;600;700&display=swap');

*{
    font-family: 'khand', sans-serif;
    font-weight: 200;
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
    padding: 0;
    gap: 0;

    
}


header{
    width: 100vw;
    height: 55vh;
    background-color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    img{
        width: 10rem;
        height: auto;
    }

    h1{
        font-weight: 100;
        font-size: 4rem;
        color: #ffb801;
        letter-spacing: 10px;
    }
}

footer{
    height: 5vh;
    width: 100vw;
    background-color:#ffb801;
    text-align: center;
    padding: 0rem;

    a{
       all: unset;
       font-size: 1.8rem;
       letter-spacing: 5px;
       font-weight: 100;
    }
    a:hover{
        color: #fff;
        font-size: 1.6rem;
    }
}