@import url('https://fonts.googleapis.com/css2?family=Khand:wght@300;400;500;600;700&display=swap');

*{
    font-family: 'khand', sans-serif;
    font-weight: 200;
    box-sizing: border-box;
    text-decoration: none;
    
    margin: 0;
    padding: 0;
    gap: 0;

    
}

*::-webkit-scrollbar {
            display: none; /* Chrome, Safari e Opera */
        }


header{
    width: 100vw;
    height: 55vh;
    background-color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    img{
        width: 10rem;
        height: auto;
    }

    h1{
        font-weight: 100;
        font-size: 4rem;
        color: #ffb801;
        letter-spacing: 10px;
    }
}

footer{
    height: 5vh;
    width: 100vw;
    background-color:#ffb801;
    text-align: center;
    padding: 0rem;

    a{
       all: unset;
       font-size: 1.8rem;
       letter-spacing: 5px;
       font-weight: 100;
       cursor: pointer;
    }
    a:hover{
        color: #fff;
        font-size: 1.6rem;
    }
}


/* central de navegador*/

.central{
    z-index: 1;
    position: fixed;
    width: 100vw;
    height: 12vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    gap: 4rem;
    background-color: #fff;

    img{
        width: 7rem;
        height: auto;
    }

    h1{
        font-weight: 100;
        font-size: 3.5rem;
        color: #ffb801;
        letter-spacing: 10px;
    }

    nav{
        width: 40vw;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        gap: 3rem;

        button{
            all: unset;
            font-size: 1.7rem;
            font-weight: 500;
            color: #000;
            letter-spacing: 5px;    
        }
        
        button:hover{
            color: #ffb801;
            font-weight: 300;
        }
}
}

.buscar-add{
    position: fixed;
    top: 13.4vh;
    width: 100vw;
    height: 6vh;
    text-align: center;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    


    input{
        all: unset;
        width: 10vw;
        height: 3vh;
        border-radius: 20px;
        
}
    input::placeholder{
        color: #fff;
        font-weight: 300;
        font-size: 1.5rem;
    }

    input:focus{
        outline: none;
        border: 2px solid #ffb801;
    }

    button{
        all: unset;
        width: 10vw;
        color: #fff;
        font-size: 1.5rem;
    }
    button:hover{
        color: #ffb801;
    }
}

.botoes{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10rem;

    button{
        all: unset;
        font-size: 2.5rem;
        font-weight: 300;
        color: #ffb801;
        
    }

    .editar:hover{
        color: #fff;
    }
    .voltar:hover{
        color: #58462b;
    }
    .excluir:hover{
        color: red;
    }
    .salvar:hover{
        color: green;
    }
    .entrar:hover{
        color: #58462b;
    }
}
