
.central nav .pagamentosAtv{
    color: #ffb801;
}


.main-pag{
    width: 100vw;
    height: 86.6vh;
    background-color: #262626;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    overflow: hidden;
}


.table-pagamentos {
    margin-top: 2rem;
    overflow: scroll;
  
    th{
        background-color: #58462b;
        border: #FFB801 1px solid;
        letter-spacing: 5px;
    }
    td{
        background-color: #fff;
        border: #FFB801 1px solid;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-size: 1.5rem;
    }
    .falta{
        background-color: red;
    }
    .pago{
        background-color: green;
    }

    .pago-lista{
        border: green 1px solid;
    }
    .falta-lista{
        border: red 1px solid;
    }
}

.info-pag{
    position: fixed;
    width: 60vw;
    height: auto;
    top: 15rem;
    background-color: #262626;
    border-radius: 30px;
    border: #fff 2px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;

    .basico{
        width: 90%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;

        label{
            color: #fff;
            font-size: 1rem;
            font-weight: 400;
            text-transform: uppercase;
            text-align: center;
        }
        input{
            font-size: 1rem;
            height: 4vh;
            font-weight: 500;
            text-transform: uppercase;
            border-radius: 10px;
            border: #fff 2px solid;
            background-color: #555;
            color: #FFB801;
            text-align: center;
            
}
    }
    table{
        width: 90%;
        height: auto;

        td{
            color: #FFB801;
            background-color: #555;
            border: #58462b 2px solid;
            font-weight: 500;
            letter-spacing: 1px;
            font-size: 1rem;
            
            
}
        th{
            background-color: #58462b;
            border: #fff 1px solid;
            letter-spacing: 5px;
            font-size: 1.2rem;
            border-radius: 20px;
        }
    }
}

.info-pagamento{
    position: fixed;
    width: 40vw;
    height: 50vh;
    top: 15rem;
    background-color: #58462b;
    border-radius: 30px;
    border: #000 2px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    .basico{
        width: 90%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        label{
            color: #000;
            font-size: 1rem;
            font-weight: 400;
            text-transform: uppercase;
            text-align: center;
        }
        input{
            font-size: 1rem;
            height: 3vh;
            font-weight: 500;
            text-transform: uppercase;
            border-radius: 10px;
            border: #000 2px solid;
            background-color: #555;
            color: #FFB801;
            text-align: center;
        }
    }

    textarea{
        width: 80%;
        height: 15vh;
        font-size: 1rem;
        font-weight: 500;
        text-transform: uppercase;
        border-radius: 10px;
        border: #000 2px solid;
        background-color: #555;
        color: #FFB801;
        text-align: center;
}

}

.adicionar-pagamento{
    position: fixed;
    top: 15rem;
    width: 30vw;
    height: 50vh;
    background-color: #fff;
    border-radius: 30px;
    border: #000 2px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;


    form{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 1rem;
        }  

    .basico{
        width: 90%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 2rem;

        

        label{
            color: #000;
            font-size: 0.7rem;
            font-weight: 400;
            text-transform: uppercase;
            text-align: center;
        }
        input,select{
            font-size: 1rem;
            height: 3vh;
            font-weight: 500;
            text-transform: uppercase;
            border-radius: 10px;
            border: #000 2px solid;
            background-color: #555;
            color: #FFB801;
            text-align: center;
        }
    }
    textarea{
        width: 80%;
        height: 15vh;
        font-size: 1rem;
        font-weight: 500;
        text-transform: uppercase;
        border-radius: 10px;
        border: #000 2px solid;
        background-color: #555;
        color: #FFB801;
        text-align: center;
    }
}

