.central nav .processosAtv{
    color: #ffb801;
}


.main-pross{
    background-color: #fff ;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 23vh;
    width: 100vw;
    height: 100vh;
}

.table-pross{
    gap: 2rem;
    top: 3rem;
    border-collapse: unset;
    overflow: scroll !important;

tbody, tr:hover() {
background-color: #fff;
color: #000;
}

    thead{
        background-color: #262626;
        
}
    tbody{
       background-color: #e7a10b;
       
}
    th{
    border: #916508 solid 2px !important;
    border-radius: 30px;

}
    td{
    border: #000 solid 2px !important;
    border-radius: 30px;
    color: #262626 !important;
    font-weight: 500 !important;
    text-transform: uppercase;

    
    }
}

.aba-info-pross,.aba-add-pross, .aba-edit-pross{
    position:fixed;
    width: 50vw;
    height: 60vh;
    border-radius: 30px;
    border: #fff solid 2px;
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;


    .lista{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        ul{
            width:  30vw;
            height: 40vh;
            text-align: center;
            letter-spacing: 1px;
            padding: 1rem;
            background-color: #fff;
            border: #ffb801  solid 2px;
            border-radius: 10px;
            font-size: 1.2rem;
            h4{
                color: #ffb801;
                text-align: center;
                text-transform: uppercase;
                font-size: 1.5rem;
                font-weight: 300;
                letter-spacing: 3px;
            }
                list-style: none;
            li{
                color: #916508;
                font-weight: 500;
                padding: 0.1rem;

            }
        }
    }
    form{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        
        label{
            text-align: center;         
            text-transform: uppercase;
            font-size: 0.8rem;
        }
        input,textarea,select{
            width: 12rem;
            text-align: center;
            box-shadow: none;
            border: #ffb801 solid 2px;
            color: #916508;
            font-size: 1.5rem;
            font-weight: 500;
            border-radius: 30px;
        }   
        .basico{
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
        }
        textarea{
            width: 35vw;
            height: 30vh;
            text-align: left;
            padding-left: 1rem;
        }
    }
}

.aba-add-pross{
     background-color: #555555;
label{
        letter-spacing: 4px;
        font-size: 1rem !important;
    }

    }

.aba-edit-pross{
    height: 45vh;
    background-color: #322302;
    label{
        letter-spacing: 4px;
        font-size: 1rem !important;
    }
    form textarea{
        height: 15vh;
    }
}