main{
    border-radius: 0px;
    background-color: #555555;
    color: #fff;
    height: 40vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;

    .titulo{
        width: 100vw;
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;


        h3{
            position: absolute;
            width: fit-content;
            text-transform: uppercase;
            left: 44.5vw;
        }

        input{
            all: unset;
            width: 5vw;
            
        }
    
        input::placeholder{
            font-family: 'Segoe UI';
            color: #fff;
    
        }
    }

    .advs{
        height: 39vh;
        width: 100vw;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        gap: 2rem;
        padding: 1rem;


        button{
            all: unset;
            font-weight: 100;
            font-size: 2rem;
            text-align: center;
        }
    }



    
}

.hide{
    background-color:#1f1e1e ;
    width: 40vw;
    height: 40vh;
    position: fixed;
    border-radius: 30px 30px 0px 0px;

    display: flex;
    flex-direction: column;
    align-items: center;
    
    .exit{
        height: 1vh;
        all: unset;
        color: red;
        position: relative;
        font-size: 3rem;
        left: 22rem;
    }

    .conteudo{
        height: 38vh;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        text-align: center;
        gap: 5rem;

        h1{
            font-size: 2rem;
        }

        p{
            font-size: 1.5rem;
            font-weight: 300;

        }

        nav{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 5rem;

            button, .editar{
                all: unset;
                font-weight: 100;
                font-size: 1.8rem;
            }

            .editar:hover{
                color: #ffb801;
            }
            .entrar:hover{
                color: darkgreen;
            }
            .excluir:hover{
                color: red;
            }
        }
    }

   
    

    nav{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 2rem;
       
        button{
            all: unset;
            font-weight: 100;
            font-size: 1.5rem;
        }
    }

}
