*{
    font-family: 'Segoe UI';
    font-weight: 200;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    gap: 0;
}


header{
    width: 100vw;
    height: 55vh;
    background-color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    img{
        width: 10rem;
        height: auto;
    }

    h1{
        font-weight: 100;
        font-size: 3rem;
        color: #ffb801;
    }
}

main{
    background-color: #555555;
    color: #fff;
    height: 40vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;

    
    .titulo{
        width: 100vw;
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;


        h3{
            position: absolute;
            width: fit-content;
            text-transform: uppercase;
            left: 44.5vw;
        }

        input{
            all: unset;
            width: 5vw;
            
        }
    
        input::placeholder{
            font-family: 'Segoe UI';
            color: #fff;
    
        }
    }

    .advs{
        height: 39vh;
        width: 100vw;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        gap: 2rem;
        padding: 1rem;


        button{
            all: unset;
            font-weight: 100;
            font-size: 2rem;
            text-align: center;
        }
    }



    
}

.hide{
    background-color:#1f1e1e ;
    width: 40vw;
    height: 40vh;
    position: fixed;
    border-radius: 30px 30px 0px 0px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    .exit{
        color: red;
        all: unset;
        display: relative;
        left: 10rem;
        top: -10rem;
    }

    nav{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 2rem;
       
        button{
            font-weight: 2rem;
        }
    }

}

footer{
    height: 5vh;
    width: 100vw;
    background-color:#ffb801;
    text-align: center;
    padding: 0.5rem;

    a{
       all: unset;
       font-size: 1.5rem;
    }
    a:hover{
        color: #fff;
        font-size: 1.6rem;
    }
}